@media screen and (max-width: 1170px) {
    div.side-banner-left div.op h1, div.side-banner-left div.op i {
        font-size: 17px;
    }
}

@media screen and (max-width: 1125px) {
    div.side-banner-left div.op h1, div.side-banner-left div.op i {
        font-size: 15px;
    }
}

@media screen and (max-width: 1050px) {
    div.side-banner-left div.op h1, div.side-banner-left div.op i {
        font-size: 14px;
    }
}

@media screen and (max-width: 1010px) {
    div.side-banner-left div.op h1, div.side-banner-left div.op i {
        font-size: 13px;
    }
}

@media screen and (max-width: 991px) {
    div.side-banner-left {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    div.product-image {
        height: 80px;
        width: 80px;
        float: right;
    }

    div.product-image img {
        height: 80px;
        width: 80px;
        float: right;
    }

    ul.product-list-ul li {
        width: 33.33%;
    }
}

@media screen and (max-width: 992px) {
    a.bg-img-title h3 {
        font-size: 20px;
    }

    ul.product-list-ul li {
        width: 50%;
    }
}

@media screen and (max-width: 550px) {
    ul.product-list-ul li {
        width: 80%;
        margin: 0 10%;
    }
}

@media screen and (max-width: 360px) {
    ul.product-list-ul li {
        width: 90%;
        margin: 0 5%;
    }
}

@media screen and (max-width: 310px) {
    ul.product-list-ul li {
        width: 100%;
    }
}

@media screen and (max-width: 992px) {
    a.bg-img-title h3 {
        font-size: 20px;
    }

    div.latest-product-title h1:first-child {
        display: none;
    }

    div.latest-product-title h1.responsive-title {
        display: block !important;
    }

    /*div.latest-product-list ul li {*/
        /*width: 24%;*/
        /*margin: 0 auto;*/
    /*}*/
}

/*@media screen and (max-width: 1082px) {*/
    /*div.latest-product-list ul li {*/
        /*width: 70%;*/
        /*margin: 0;*/
    /*}*/
/*}*/

@media screen and (max-width: 550px) {
    div.you-may-also-like ul li {
        width: 50%;
        margin: 0 !important;
    }
}

@media screen and (max-width: 991px) {
    div.category-products div.hide-child {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    div.category-image-col, div.ic {
        width: 80%;
        margin: 0 auto;
    }

    a.bg-img-title h3 {
        font-size: 30px;
    }
}